.arrow-right {
  display: inline-block;
  width: 0; 
  height: 0; 
  margin-left:2px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid black;
  transition: all 400ms;
}
